@page "/counter"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<Buttons>
    <Button Color="Color.Secondary" Clicked="@IncrementCount">LEFT</Button>
    <Button Color="Color.Secondary">CENTER</Button>
    <Button Color="Color.Secondary">RIGHT</Button>
</Buttons>

<p>
    <Alert Color="Color.Danger" @bind-Visible="@alertvisible">

        <AlertDescription>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </AlertDescription>

        <AlertMessage>
            Alert Link.
        </AlertMessage>

        <CloseButton />
    </Alert>
</p>

<Fields>
    <Field>
        <FieldLabel> 
            Type your name
        </FieldLabel>
        <FieldBody>
            <TextEdit @bind-Text="@name"/>
        </FieldBody>
    </Field>
</Fields>

<ShowName input="@name">
    
</ShowName>

